.container {
    margin-left: 50px;
    margin-right: 50px;
    /*border: 1px solid green;*/
}

/*
.item {
    border: 1px solid red;
}*/

/*
.mission, .problem {
    padding-bottom: 100px;
}*/

b {
    color: #00707F;
}

button {
    height: 25px;
}

mat-card {
    max-width: 500px;
    height: 90%;
    /*border: 1px solid green;*/
}

p {
    font-size: 14px;
    line-height: 20px;
}

mat-card-subtitle {
    color: #00707F;
}

img {
    width: 100%;
    border-radius: 5px;
}

.question-container {
    width: 100%;
    border: 1px solid #cacaca;
    background-color: #2e2e2e;
    color: white;
    border-radius: 5px;
}

.question {
    font-size: 14px;
}

mat-icon {
    color: #202124;
    font-size: 38px;
}

.vision {
    font-size: 16px;
}