 <div> 
  <mat-toolbar
    fxFlex
    fxLayout="row"
    fxLayout.xs="row"
    fxLayoutGap="10px"
    >
    <!-- TODO:  ENABLE MENU SIDEBAR AND CONNECT TO CONTENT
    <div class="item">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    -->
    <div class="item">
      <h5 [ngStyle.lt-sm]="{'font-size': '12px'}">MORE SOON</h5>
    </div>
    <div class="item" fxFlex="99%" align="center">
      <h1>TTP0</h1>
    </div>
    
    <div class="item">
        <a href="https://github.com/TTP0" target="_blank" rel="noopener">
          <button mat-icon-button>
            <img src="./assets/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" alt="github">
          </button>
        </a>      
    </div>
    <!-- TODO:  ENABLE MORE_VERT MENU AND LINK TO CONTENT
    <div class="item">
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
    </div>  
    --->
  </mat-toolbar>
</div><br><br>