/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #e8e8e8;
}

.ttp0 {
    font-family: 'Roboto Mono';
}

/*
.item {
    //border: 1px solid white;
}
*/

.hyperlink {
    color: #009DB2;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #009DB2;
    height: 2px;
 } 

 .mat-tab-label{
    color:  #202124;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    min-width: 60px!important;
  }